<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>About</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/style2.css">
        <link rel="stylesheet" href="../static/css/d3Style.css">
        <meta name="description" content="Pound puppies adoption">
        <meta name="keywords" content="Pound Puppies" />
        <meta name="dc:source" content="">
    </head>


    <body>
        <!-- NAVBAR -->

        <nav class="navbar navbar-dark bg-primary fixed-top flex-md-nowrap p-0 shadow">
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link col-sm-3 col-md-2 mr-0" href="/">Pound Puppies</a>
                </li>
            </ul>    
            
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                  <!-- <a class="nav-link" href="/about">About</a>-->
                  <a class="nav-link" href="http://127.0.0.1:5000//result">Result</a>
                </li>
            </ul>
            
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                <!-- <a class="nav-link" href="http://127.0.0.1:5000/about">About</a> -->
                <a class="nav-link" href="http://127.0.0.1:5000//about">About</a>
                </li>
            </ul>
        </nav>

        <!-- Jumbotron -->
        <div class="jumbotron hero1">
            <div class="container">
                <div class="col-12 text-center">
                    <!-- <h1 id="jumbotron-title">Pound puppies</h1> -->
                </div>
            </div>
            <div class="row position-absolute bottom-right">
                <div class="col-md-12">
                    <p><font size="-2" color="white">Photo Credit: Michelle Risucci</font></p>
                </div>
            </div>
        </div>
        <!-- About Section blurbs -->
        <div class="container-fluid bg-1 text-center">
            <h3><strong>About Our Project</strong></h3>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <p>The Inspiration</p>
                    <hr color="black">  
                    <p>By comparing various attributes of dogs up for adoption we were about to creat a predictive model 
                        qauntifying various parameters leading to dogs adoptions</p>
                </div>
                <div class="col-sm-4">
                    <p>The Team</p>
                    <hr color="black"> 
                    <p>Steven Brown, William Enriquez, Michelle Risucci,
                        Chuck Medina, Kosal Sieng, Alex Reyes</p>
                    <p>USC Viterbi School of Engineering - Data Visualization</p>
                </div>
                <div class="col-sm-4">
                    <p>The Repo</p>
                    <hr color="black"> 
                    <a href="https://github.com/medinachuck/pet_adoption_app">View our Github!</a>
                </div>
            </div>
        </div>

        <div class="container-fluid bg-2 text-center">
            <h3><strong>Adoption Links</strong></h3>
            <br>
            <p>Pound Puppies:</p>
            <a href="https://www.wagsandwalks.org/">Wags and Walks</a>
            <a href="https://www.laanimalservices.com/">L.A animal services </a>
            <br>
            <br>
            <p>SPCA</p>
            <a href="https://secure.aspca.org/donate/ps-gn-p2?ms=MP_PMK_Googlenonbrand-T4&initialms=MP_PMK_Googlenonbrand-T4&pcode=WPSE9XXGOGN2PK00024&lpcode=WPSE9XXGOGN1PK00024&test&ds_rl=1066464&gclid=Cj0KCQiA-aGCBhCwARIsAHDl5x9RpkE9VKAPwWZd3lIs2HOZM4UGUkv6tK_Ejp1Ii94nDtW-x_oGZhsaAgK-EALw_wcB&gclsrc=aw.ds">Religion by State</a>
            <br>
            <br>
            <p>Source of training data</p>
            <a href="https://www.kaggle.com/c/petfinder-adoption-prediction/data">Kaggle Challenge</a>
        </div>
        

        <footer class="footer">
            <span class="bottom">Pound Puppies | U.S.C Data Visualization and Analytics</span>
            <a class="footer-data" href="#" title="Download Kaggle data
        
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script type="text/javascript" src="../static/js/functions.js"></script>
        <script type="text/javascript" src="../static/js/plots.js"></script>
        <script type="text/javascript" src="../static/js/app.js"></script>

    </body>

</html>

<!-- photo credit for jumbotron -->
<!-- By Michelle Risucci -->
